@import './variables';
.loading {
  height: 100vh;
  @include centered-flex
}
.customer-container {
  overflow: hidden;
}

.ant-table-cell-fix-right, .ant-table-cell-fix-right-first, .ant-table-cell-fix-right, .ant-table-cell-fix-right-first {
  width: 100px !important;
  
}
.site-layout-background {
  padding: 24px;
  min-height : 36px;
}
.login-container {
  height: 100vh !important;
  .ant-col {
    display: flex;
    justify-content: center;
  }
  .login-form {
    flex-grow: 1;
    max-width: 80%;
    padding: 50px 30px;
    border-radius: 20px;
    .ant-input-affix-wrapper {
      border-radius: 5px;
      padding: 10px;
    }
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}
.hover {
  cursor: pointer;
}
.card-container {
  height: 420px !important;
  cursor: pointer;
  &:hover { 
    border-color: $MainBrandColor ;
  }

  &:active { 
    border-color: $MainBrandColor ;
  }
}
.ant-modal-footer {
  .ant-btn-primary{
    background-color: $BlueBrandColor !important;
  }
}
.logo {
  height: 32px;
  margin: 16px 16px 72px 16px; 
  text-align: center;
  font-size: 36px;
  color: $GreenBrandColor;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.logo-nav {
  height: 32px;
  text-align: center;
  font-size: 36px;
  color: $GreenBrandColor;
}
.btn-create {
  background-color: $MainBrandColor;
  color: $WhiteBrandColor;
  font-weight: bold;
}

.form-container {
  .ant-form-item-label {
    text-align: left !important;
  }
}

.main-dashboard-conatiner {
  .item-container-nopadd {
    background-color: $WhiteBrandColor;
    border-radius: 5px;
    min-height: 100%;
   
  }
  .item-container {
    background-color: $WhiteBrandColor;
    border-radius: 5px;
    padding: 20px;
    min-height: max-content;
   
  }
  .item-container-full {
    background-color: $WhiteBrandColor;
    border-radius: 5px;
    padding: 20px;
    min-height: 100%;
   
  }
}

.ant-layout {
  .ant-layout-sider-trigger {
    background: $WhiteBrandColor !important;
    svg {
      color: $BlueBrandColor;
    }
  }
  .ant-layout-sider {
    background: $WhiteBrandColor !important;
  }
  .ant-layout-header {
    padding-left: 20px;
    margin-left: 10px;
    background: transparent !important;
    padding: 0 20px ;
    .user-manage {
      margin-left: 15px;
      @include flex-row;
      @include start-center-flex;
      p {
        @include font-normal;
        margin: 0 0 0 10px;
      }
    }
  }
}

.ant-layout-content {
  padding-left: 20px;
  .site-layout-background {
    padding-left: 0 !important;
  }
}
// biodata
.biodata-container {
  .image-container {
    @include flex-column;
    align-items: center;
    .avatar-biodata {
      margin: -50px;
      border: solid 2px rgb(104, 100, 100);
    }
  }
  .info-container {
    margin-top: 90px;
    @include flex-column;
    @include centered-flex;
    .underscore {
      text-decoration: underline;
    }
    .iconx {
        @include font-normal;
        color :$MainBrandColor;
        margin-right: 12px;
        cursor: pointer;
    }
    p {
      margin: 0;
      @include font-normal;
    }
    h3 {
      font-weight: bold;
      margin: 0;
    }
    .primary-text {
      color: $MainBrandColor;
    }
    .secondary-text {
      color: $BorderBrandColor;
    }
    .sunting {
      margin: 20px 0;
      font-weight: 500;
    }
    .info-biodata {
      text-align: start;
      padding: 20px;
      .info {
        margin-top: 10px;
        p:nth-child(1) {
          margin-bottom: 5px;
        }
        p:nth-child(2) {
          font-weight: 500;
        }
        div {
          @include flex-row;
          justify-content: space-between;
          p {
            font-weight: bold;
          }
          button {
            background: $GreenBrandColor;
          }
        }
      }

    }
  }
}
// Lokasi
.lokasi-container {
  .title {
    h3 {
      @include font-semi-medium-bold;
    }
  }
  .lookall {
    display: flex !important;
    justify-content: end;

    p {
      color: $MainBrandColor;
      
      @include font-semi-medium-halfbold;
    }
  }
  .content {
    .ant-col {
      .main-content {
        background: $GreenBrandColor;
        padding: 10px;
        border-radius: 5px;
        color: $WhiteBrandColor;
        @include flex-row;
        @include between-center-flex;
        align-items: center;
        p {
          margin: 0;
          text-align: end;
        }
        p:nth-child(1) {
          @include font-big;;
          font-weight: bold;
          padding: 0;
        }
        p:nth-child(2) {
          @include font-normal;
          font-weight: 100;
          text-transform: capitalize;
        }
        .iconx {
          font-size: 36px;
        }
      }
    }
  }
}
// bank
.bank-container {
  .title {
    h3 {
      @include font-semi-medium-bold;
    }
  }
  .lookall {
    display: flex !important;
    justify-content: end;
    .btn {
      background: $GreenBrandColor !important;
      color: $WhiteBrandColor;
      border-radius: 5px;
      @include font-normal;
      padding: 0 30px;
    }
  }
  .main-content {
    margin-top: 20px;
    @include flex-row;
    justify-content: center;
    .card-bank {
      position: relative;
      width: 100px ;
      height: 80px ;
      border-radius: 10px;
      background-image: linear-gradient(to right, $YellowBrandColor, $MainBrandColor);
      margin-right: 10px;
      p {
        position: absolute;
        margin: 10px;
        bottom: 0;
        right: 0;
        font-weight: bold;
        color: $WhiteBrandColor;
        @include font-medium;
      }
    }
    .card-deskripsi {
      max-height: 100px;
      flex-grow: 5;
      @include flex-row;
      margin-left: 10px;

      .deskripsi {
        flex-grow: 5;
        @include flex-column;
        justify-content: space-between;
        p {
          margin: 0;
          font-weight: bold;
        }
        div {
          p {
            color: $BorderBrandColor;
            @include font-small;
            font-weight: 400 !important;
          }
        }
      }
      .action {
        flex-grow: 5;
        @include flex-row;
        justify-content: end;
      }
    }
  }
}
// Relasi
.relasi-container {
  .title {
    h3 {

      @include font-semi-medium-bold;
    }
  }
  .lookall {
    display: flex !important;
    justify-content: end;

    p {
      color: $MainBrandColor;
      
      @include font-semi-medium-halfbold;
    }
  }
  .main-content {
    margin-top: 20px;
    .ant-row {
      align-items: center;
    }
    .status {
      p {
        margin: 0;
      }
      p:nth-child(1) {
        @include font-big-bold;
        padding: 0;
      }
      p:nth-child(2) {
        @include font-normal;
        font-weight: 100;
        text-transform: capitalize;
      }
    }
    .iconx {
      @include font-big;;
    }
  }
}

.aktivitas-container {
    .title {
      h3 {
        @include font-semi-medium-bold;
      }
    }
    .list-activity {
      margin-top: 20px;
      h3 {
        margin: 0;
        @include font-semi-medium;
      }
      p {
        margin: 0;
        color: $BorderBrandColor;
      }
    }
}

#notfound {
  position: relative;
  height: 100vh;
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  @include font-medium;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}
.notfound h3{
  font-family: 'Cabin', sans-serif;
  position: relative;
  @include font-medium;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound .notfound-404 h1 {
  font-size: 162px;
  height: 150px;
  line-height: 162px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: $OrangeBrandColor;
  -webkit-text-stroke: 5px $BlueBrandColor;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $BlueBrandColor;
  margin-top: 0px;
  margin-bottom: 25px;
}

.create {
  visibility: hidden;
}
@media (min-width: 320px) and (max-width: 1280px) {
  .site-layout-background {
    padding: 5px;
    min-height : 36px;
  }
  .create {
    visibility: visible;
  }

  .text-small {
    @include font-verysmall 
  }
  .ant-layout-header {
    padding: 0 10px !important;
  }
  .container-user {
    justify-content: end !important;
  }
  .user-manage {
    margin-left: 5px;
    @include flex-row;
    @include start-center-flex;
    p {
      @include font-normal;
      margin: 0 0 0 5px !important;

    }
  }
  .ant-layout-content {
    padding: 5px;
  }

  // Lokasi
  .lokasi-container {
    .main-content {
      p:nth-child(1) {
        @include font-semi-medium;
      }
      p:nth-child(2) {
        @include font-small;
      }
      .iconx {
        @include font-big;
      }
    }
  }
  // bank
  .bank-container {
    .title {
      h3 {
        @include font-small-bold;
      }
    }
    .lookall {
      .btn {
        background: $GreenBrandColor !important;
             @include font-verysmall;
        color: $WhiteBrandColor;
        border-radius: 5px;
        padding: 0 10px;
      }
    }
    .main-content {
      margin-top: 20px;
      @include flex-column;
      justify-content: center;
    }
    .card-bank {
      width: 100% !important;
    }
    .card-deskripsi {
      margin-top: 20px;
    }
  }
  .relasi-container {
    .main-content {
      .status {
        p {
          margin: 0;
        }
        p:nth-child(1) {
          @include font-normal;
        }
        p:nth-child(2) {
               @include font-verysmall;
              }
            }
            .iconx {
              @include font-medium;
        margin-right: 10px;
      }
    }
  }

  .aktivitas-container {
    .title {
      h3 {

        @include font-normal-bold;
      }
    }
    .list-activity {
      margin-top: 20px;
      h3 {
        margin: 0;
        @include font-verysmall;
      }
      p {
        margin: 0;
        @include font-verysmall;
        color: $BorderBrandColor;
      }
    }
}
}
